bin/
obj/
packages/
.vscode/
*.user
*.suo
*.bak
*.ncb
*.log
*.tlog
*.cache
*.ide
*.pdb
*.dbmdl
*.jfm
*.dll
*.exe
*.appx
*.appxbundle
*.msix
*.msixbundle
project.lock.json
adc.json
appsettings.json
client_secret_791865313889-lo8e4pegujjfmqvhh2b7irgacq7gu21a.apps.googleusercontent.com.json